{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations</h1>

    {% for formation in formations %}
       <p>{{ formation.nom }}</p>
       <br>
    {% endfor %}
{% endblock %}
