{% extends 'base.html.twig' %}

{% block title %}Liste des Formations{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Formations</h1>
    <ul>
        {% for formation in formations %}
            <li><a href="{{ path('formation_sessions', { 'id': formation.id }) }}">{{ formation.nom }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
