{% extends 'base.html.twig' %}

{% block title %}Détail d'une formation{% endblock %}

{% block body %}
<div class="container">
    <h1>formation : {{ formation.nom }}</h1>

    <h3>Liste des Sessions</h3>
    a
</div>    
{% endblock %}
