{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des formations</h1>

    {% for formation in formations %}
       <a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation.nom }}</a>
       <br>
    {% endfor %}
</div>
{% endblock %}
