{% extends 'base.html.twig' %}

{% block title %}Liste des Catégorie{% endblock %}

{% block body %}
    <div class="containner">
        <h1>Liste des categories</h1>

        {% for categorie in categories %}
            <a href="{{path('show_categorie', {'id':categorie.id})}}">{{ categorie.nom }}</a>
        <br>
        {% endfor %}
    </div>
{% endblock %}