{% extends 'base.html.twig' %}

{% block title %}Détail d'une categorie {% endblock %}

{% block body %}
    <h1> Categorie {{ categorie.nom }}</h1>

    <h3>Liste des programes</h3>
        {# {% for moduleSession in moduleSessions %}

            {{moduleSessions.nom}}
            
        {% endfor %} #}
   
{% endblock %}