{% extends 'base.html.twig' %}

{% block title %}Détail d'une catégorie{% endblock %}

{% block body %}
    <h1>Catégorie : {{ categorie.nom }}</h1>

    <h3>Liste des programmes</h3>
    {# on verifie si le tableau(collection) modulesessions dans categorie est vide => categorie vide #}
    {% if categorie.moduleSessions|length > 0 %}
        <ul>
            {% for moduleSession in categorie.moduleSessions %}
                <li>{{ moduleSession.nom }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Cette catégorie n'a aucun programme.</p>
    {% endif %}
{% endblock %}
