{# templates/programme/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Programmes{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Programmes</h1>
    <ul>
        {% for programme in programmes %}
            <li><a href="{{ path('show_programme', { 'id': programme.id }) }}">{{ programme.getNom() }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
