{# templates/programme/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détail d'un Programme{% endblock %}

{% block body %}
<div class="container">
    <h1>Programme : {{ programme.nom() }}</h1>
    <!-- Afficher d'autres détails du programme si nécessaire -->
</div>
{% endblock %}
